## GranSaga
#host-suffix,npixel.co.kr,🎮GranSaga
#host-suffix,gransaga.com,🎮GranSaga
## host,checkip.amazonaws.com,🎮GranSaga
##host-suffix,logs.ironsrc.mobi,🎮GranSaga
##host-suffix,supersonicads.com,🎮GranSaga
##host-suffix,ssadscdn.cn,🎮GranSaga


## LOL
#host-suffix,riotcdn.net,🎮Riot
#host-suffix,riotgames.com,🎮Riot
#host-suffix,wr.pvp.net,🎮Riot


# OpenAI
host-suffix,openai.com,proxy
host,cdn.auth0.com,proxy
host,challenges.cloudflare.com,proxy

host-suffix,ai.com,proxy
host-suffix,openai.com,proxy
host-suffix,intercom.io,proxy
host-suffix,identrust.com,proxy

host-suffix,chat.openai.com.cdn.cloudflare.net,proxy
host-suffix,openaiapi-site.azureedge.net,proxy

host-suffix,challenges.cloudflare.com,proxy
host-suffix,invoice.stripe.com,proxy
host-suffix,stripe.com,proxy
host-suffix,poe.com,proxy


# TikTok
host-suffix,tiktokv.us,proxy
host-suffix,tiktokcdn.com,proxy
host-suffix,tiktokcdn-us.com,proxy


# host,lf16-effectcdn.byteeffecttos-g.com,proxy
# HOST,lf16-pkgcdn.pitaya-clientai.com,proxy
# HOST,p16-tiktokcdn-com.akamaized.net,proxy
# host-suffix,bytedapm.com,proxy
# host-suffix,bytegecko-i18n.com,proxy
# host-suffix,byteoversea.com,proxy
# host-suffix,capcut.com,proxy
# host-suffix,ibytedtos.com,proxy
# host-suffix,ibyteimg.com,proxy
# host-suffix,ipstatp.com,proxy
# host-suffix,isnssdk.com,proxy
# host-suffix,muscdn.com,proxy
# host-suffix,musical.ly,proxy
# host-suffix,sgpstatp.com,proxy
# host-suffix,snssdk.com,proxy
# host-suffix,tik-tokapi.com,proxy
# host-suffix,tiktok.com,proxy
# host-suffix,tiktokcdn-us.com,proxy
# host-suffix,tiktokcdn.com,proxy
# host-suffix,tiktokd.net,proxy
# host-suffix,tiktokd.org,proxy
# host-suffix,tiktokmusic.app,proxy
# host-suffix,tiktokv.com,proxy
# host-suffix,tiktokv.us,proxy
# host-suffix,ttwebview.com,proxy
# host-keyword,musical.ly,proxy
# host-keyword,tiktok,proxy
# user-agent,TikTok*,proxy