# GranSaga
host-suffix,npixel.co.kr,🎮GranSaga
host-suffix,gransaga.com,🎮GranSaga
# host,checkip.amazonaws.com,🎮GranSaga
#host-suffix,logs.ironsrc.mobi,🎮GranSaga
#host-suffix,supersonicads.com,🎮GranSaga
#host-suffix,ssadscdn.cn,🎮GranSaga

# OpenAI
host-suffix,openai.com,🎮GranSaga
host,cdn.auth0.com,🎮GranSaga
host,challenges.cloudflare.com,🎮GranSaga

host-suffix,ai.com,🎮GranSaga
host-suffix,openai.com,🎮GranSaga
host-suffix,intercom.io,🎮GranSaga
host-suffix,identrust.com,🎮GranSaga

host-suffix,chat.openai.com.cdn.cloudflare.net,🎮GranSaga
host-suffix,openaiapi-site.azureedge.net,🎮GranSaga

host-suffix,challenges.cloudflare.com,🎮GranSaga
host-suffix,invoice.stripe.com,🎮GranSaga
host-suffix,stripe.com,🎮GranSaga
host-suffix,poe.com,🎮GranSaga